atomicwrites==1.3.0
attrs==18.2.0
boltons==18.0.1
coverage==4.5.2
filelock==3.0.10
more-itertools==5.0.0
pathlib2==2.3.3
pluggy==0.8.1
py==1.7.0
pytest==4.2.0
six==1.12.0
toml==0.10.0
tox==3.7.0
virtualenv==16.4.0
